# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
build/
dist/
*.spec

# AntiRickRoll
logs/
cache/
plugins/fingerprints/*.json
!plugins/fingerprints/.gitkeep

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

.idea/
